extends layout

block content
    h1= title

    script(src="/js/jscolor.min.js")
    script(src="/js/client.js")

    <html>    

        <form action="/" method="post">
            <input type="hidden" name="rainbow" value="rainbow">
            <input type="submit" value="Rainbow"> 
        </form> 

        </br>
        
        <form action="/" method="post">
            <input type="hidden" name="rainbow" value="rainbowCycle">
            <input type="submit" value="Rainbow Cycle"> 
        </form> 
        
        </br>
        
        <form action="/" method="post">
            <input type="hidden" name="rainbow" value="rgb">
            <input type="submit" value="RGB"> 
        </form> 

        </br>
        
        <form action="/" method="post">
            <input type="hidden" name="rainbow" value="holidayWipe">
            <input type="submit" value="Holiday Wipe"> 
        </form> 

        </br>
        
        //- <form action="/" method="post">
        //-     <input type="hidden" name="rainbow" value="holidayCycle">
        //-     <input type="submit" value="Holiday Cycle"> 
        //- </form> 
        
        //- </br>
        
        <form action="/" method="post">
            <input type="hidden" name="rainbow" value="stop">
            <input type="submit" value="Stop"> 
        </form> 

        </br></br>

        <h2>Solid Color</h2>
        <form id="sendForm" name="sendColor" action="/" method="post">
            <input class="jscolor {onFineChange:'DoThis(this)'}"></input></br></br>
            <input type="submit"></br></br>

            //- <p name="color1" id="rgb-str"></p>
            <p>Red: </p><input name="red" id="red"></input>
            <p>Green: </p><input name="green" id="green"></input>
            <p>Blue: </p><input name="blue" id="blue"></input>

        </form>

        <br></br>

    </html> 
